*{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}
.body{
  display:grid;
  grid-template-columns:20% 60% 20%;
  padding-top:80px;
  font-size:14px;
  
}

.section_1{
  /* background-color:bisque; */
}

.section_2{
  /* width: 1500px; */
}

.a_add_admin_maincontent{
  margin-right: 2rem;
}


.add_container{
  
  margin-left: 100px;
  max-width: 1000px;
  box-sizing: border-box;
  font-family:'Montserrat', sans-serif ;
  width: 100%;
  /* background-color: #e6ede6; */
  padding: 25px 30px;
  border-radius: 5px;
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.15); */
}
.add_container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  font-weight:bold;
}
.add_container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  /* background: linear-gradient(135deg, #e6ede6, #004100); */
}

.add_content form .advertisment-details{
  margin-top:40px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height:100%; */
  margin: 20px 0 12px 0;
}
form .advertisment-details .input-box{
  margin-bottom: 15px;
  /* width: calc(100% / 2 - 20px); */
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.advertisment-details .input-box input ,#propic,#admin_gender, #publish_btn, #a_pro_pic, #category,#location{
  
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  /* border: 1px solid #ccc; */
  border:1px solid lavender;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #e6ede6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d5cdcd;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two{
   background: black;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 
 form .reg_button input:hover , #publish_btn:hover{
  /* transform: scale(0.99); */
  background:  #faffff;
  color: #000000;
  border:none;
  }

#publish_btn {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background:  #000000;
  padding:10px;
  margin-top:10px;
  border:none;
  font-family: 'Montserrat', sans-serif;

}

.error_msg{
  font-size: 15px;
  color: #FF0000;
}

  @media(max-width: 584px){
 .add_container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .add_content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .add_container .add_content .category{
    flex-direction: column;
  }
}


#uploard_image{
  font-size:80px;
}


/* changed on 23.02.21 */

.unit-price {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.available-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.input-box textarea {
  width: 100%;
}

form .advertisment-details .image_container .right1 img, form .advertisment-details .image_container .right2 img, form .advertisment-details .image_container .right3 img {
  width: 40px;
  height: 40px;
}
form .advertisment-details .image_container .right1, form .advertisment-details .image_container .right2, form .advertisment-details .image_container .right3{
  width: fit-content;
  opacity: 0.8;
}

form .advertisment-details .image_container .right1:hover, form .advertisment-details .image_container .right2:hover, form .advertisment-details .image_container .right3:hover {
  opacity: 1;
  cursor: pointer;
}

form .advertisment-details .image_container .right1 img, form .advertisment-details .image_container .right2 img, form .advertisment-details .image_container .right3 img {
  width: 40px;
  height: 40px;
}

form .advertisment-details .image_container .post-image1 img {
  width: 200px;
  height: 200px;
  transform:translate(20px ,25px);
  /* border-radius: 5px; */
}

form .advertisment-details .image_container .post-image2 img {
  width: 200px;
  height: 200px;
  transform:translate(20px ,25px);
  /* border-radius: 5px; */
}

form .advertisment-details .image_container .post-image3 img {
  width: 200px;
  height: 200px;
  transform:translate(20px ,25px);
  /* border-radius: 5px; */
}

#removeImagebtn1, #removeImagebtn2, #removeImagebtn3{
  padding:10px;
  border-radius:50px;
  background-color: rgb(234, 234, 200);
}

#addImagebtn1, #addImagebtn2, #addImagebtn3{
  padding:15px;
  border-radius:20px;
  background-color: rgb(236, 230, 181);
}


.flex_view{
  display:grid;
  grid-template-columns: 85% 15%;
  gap:30px;
}

.text_filed{
  display:grid;
  grid-template-columns: 50% 50%;
  gap:30px;
}

.input_flex{
  display:grid;
  grid-template-columns: 50% 50%;
  gap:30px;
}

.enter_amount{
  display:grid;
  grid-template-columns: 60% 40%;
  gap:30px;
}

.image_container{
  display:flex;
  grid-template-columns: 30% 30% 30%;
  gap:100px;

}




/* 2023/5/2 */

#category{
  width: 100px;
}

.input-box select{
  margin-left: 5px;
}
.input-box span{
  margin-right: 5px;
}
.input-box input{
  margin-left: 5px;
}