*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.body{
    display:grid;
    grid-template-columns:20% 70% 10%;
    padding-top:100px;
    
}

.section_1{
    /* background-color:bisque; */
}

.dashboard{
    background-color:rgb(255, 255, 255);
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    padding:20px; 
    gap:20px;   
}
.section_2{
    grid-template-rows: repeat(auto-fit,minmax(250px,1fr));
}

.demo{
    padding:20px;
}

.card{
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.2);
    height:150px;
    width:250px;
    border-radius:10px;
   
   
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}
#card3, #card1, #card2{
    background-color:rgb(247, 255, 255);
}

.card:hover{
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    
    transform: scale(1.05);
     
}




.last{
    /* background-color:beige; */
}

.card .content{
    padding:20px;
}

.count{
    font-weight:bolder;
    font-size:17px;
}

#blog_icon, #forum_icon, #complain_icon, #usage_icon, #complete_icon, #cart, #item, #deals, #review, #wishlist{
    transform:translate(120px, -100px);
    font-size:50px;
    color:rgb(9, 142, 91);
}

#supplier_icon, #ad_icon{
    transform:translate(150px, -100px);
    font-size:50px;
    color:rgb(9, 142, 91);
}

#officer_icon{
    transform:translate(160px, -100px);
    font-size:50px;
    color:rgb(9, 142, 91);
}

.time_period{
    font-size:10px;
    font-weight:bold;
}

.topic{
    font-size:15px;
}

#demo{
    transform: translate(130px, -50px);
    color:rgb(203, 203, 134);
    cursor:pointer;
    font-size:18px;
}
