body{
    margin:0px;
}
.footer_section{
    position:relative;
    margin-top:100px;
    margin-bottom:0px;
    z-index: 2001;
    font-family: 'Montserrat';
    justify-content: center;
    height:fit-content;
}
.footer_content{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap:110px;
    background-color: rgb(0, 0, 0);
    padding-left:60px;
    padding-right:60px;
    padding-top:40px;
    padding-bottom: 20px;
    color:rgb(228, 225, 225);
}
.logo_footer{
    width:75px;
    height:70px;
}
.logo_discription{
    width:180px;
    height:40px;
    transform: translate(-32px,-20px);
}
.about_us{
    font-size:11px;
    text-align: justify;
    
}

.footer_content h3{
    font-size: 15px;
    color:white;
    font-weight:bolder;
}
.footer_content .lists{
    list-style: none;
    font-size: 11px;
    line-height: 25px;
    padding-left: 0px;
    font-weight: 900px;
}
.lists li{
    cursor: pointer;
}
.footer_content a{
    text-decoration: none;
    cursor: pointer;
    color:rgb(228, 225, 225);
}
.footer_content a:hover{
    color:rgb(189, 239, 201);
    font-weight: bold;
}
#contact_icons{
    padding-right: 15px;
}

.sign_up{
    font-size: 12px;
    padding:10px;
    padding-right:50px;
    border:1px solid green;
   
}
.signup_btn{
    width:80px;
    height:37px;
    margin:10px;
    background-color:rgb(31, 182, 31) ;
    border:none;
    font-family:'Montserrat';
    font-weight: bold;
    transform:translate(-9px,2px);
    font-size:12px;
    color:rgb(188, 229, 207);
    cursor:pointer;

}
.signup_button_text{
    display:flex;
}

hr{
    margin-top: 0px;
    color:white;    
}
.copy-rights-section{
    background-color: black;
    padding-bottom:5px;
}
.copyright{
    font-size: 9px;
    text-align: center;
    color:white;
    transform: translateY(-4px);
}
#copyright_icon{
    margin-right:5px;
}
.developers{
    color:rgb(31, 245, 31);
    margin-left: 5px;
}