/*css library*/
@import url('component/topnavbar.css');
@import url('component/adminSidebar.css');
@import url('component/buttons_styles.css');
@import url('footer.css');
@import url('header.css');
@import url('admin/login.css');
@import url('admin/adminRegister.css');
@import url('admin/admin_dashboard.css');
@import url('admin/admin_user_management.css');
@import url('admin/add_agri_o_n_admin.css');
@import url('admin/view_profile.css');
@import url('admin/change_pwd.css');
@import url('admin/user_view_more_info.css');

/*FONTS*/
@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}

body{
    margin: 0;
    font-family: Poppins-Regular ;
    font-size: small;
    text-align: left;
}