/*css library*/
@import url('header.css');

/*FONTS*/
@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}

body{
    margin: 0;
    font-family: Poppins-Regular ;
    font-size: small;
    text-align: left;
} 

//removing autofill colors
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

