*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.body{
    display:grid;
    grid-template-columns:20% 70% 10%;
    padding-top:100px;
    
}

.section_1{
    /* background-color:bisque; */
}


.section_2{
    grid-template-rows: repeat(auto-fit,minmax(250px,1fr));

}



/*dasboard*/
.charts{
    display:grid;
    grid-template-columns: 2fr 1fr ;
    grid-gap:10px;
    width:100%;
    margin:20px;
    padding-top:0px;
  }

  .chart{
    background-color: rgb(250, 252, 252);
    padding:20px;
    border-radius:10px;
    border:1px solid rgb(233, 230, 230);
    box-shadow:0px 7px 25px rgba(0,0,0,0.08);
  }

.chartsLevel2{
    display:grid;
    grid-template-columns: 3fr 2fr ;
    grid-gap:10px;
    width:100%;
    margin:20px;
    padding-top:0px;
}

.demo{
    padding:20px;
}


.dashboard{
    background-color:rgb(255, 255, 255);
    display:flex;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    padding:20px; 
    gap:20px;   
}

.card{
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.2);
    height:150px;
    width:250px;
    border-radius:10px;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

#card1:hover{
    background-color:black;
}

#card2:hover{
    background-color:black;
}

#card3:hover{
    background-color:black;
}
#card1:hover #blog_icon{
    color:white;
}

#card2:hover #deals{
    color:white;
}

#card3:hover #review{
    color:white;
}

#card1:hover .time_period{
    color:white;
}

#card2:hover .time_period{
    color:white;
}

#card3:hover .time_period{
    color:white;
}





  .p1{
    display: flex;
    flex-direction:column;
  }

  .p2{
    display: flex;
    justify-content: flex-end;

  }
#card3, #card1, #card2{
    background-color:rgb(247, 255, 255);
}

.card:hover{
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor:pointer;
    background-color:rgb(0, 0, 0);
  }

  .card:hover .count{
    color:white;
  }

  .card:hover .topic{
    color:white;
  }

.last{
    /* background-color:beige; */
}

.card .content{
    padding:10px 20px;
    display:grid;
    grid-template-columns: 70% 30%;
    line-height: 0px;
    align-items:center;
}

.count{
    font-weight:bold;
    font-size:30px;
    color: rgb(0, 0, 0);
  }

  .topic{
    font-size:15px;
  }


#blog_icon, #forum_icon, #complain_icon, #usage_icon, #complete_icon, #item, #deals, #review, #wishlist{
    padding:20px 0px;
    font-size:45px;
    color: rgb(0, 0, 0);
}

.time_period{
    font-size:10px;
    font-weight:bold;
}

.topic{
    font-size:15px;
}

#demo{
    transform: translate(130px, -50px);
    color:rgb(203, 203, 134);
    cursor:pointer;
    font-size:18px;
}

#title_chart{
    color:gray;
    text-align:center;

}