*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.body{
    display:grid;
    grid-template-columns:20% 60% 20%;
    padding-top:90px;    
}

.section_1{
    /* background-color:bisque; */
}

.blog_body{
    /* background-color:azure; */
}

.related_post{
    /* background-color:beige; */
}

/*crete post button*/
.createpost{
    background-color:rgb(0, 0, 0);
    width:150px;
    height:40px;
    margin-right:120px;
    margin-top:17px;
    color:white;  
    border:none;
    cursor:pointer;
    position:relative;
    top:55%;
    left:25%;
    border-radius:40px;
}

.add_new_post{
    display:none;
    position:absolute;
    font-size:11px;
    font-weight:bold;
    color:rgb(0, 0, 0);
    background-color:rgb(234, 236, 236);
    padding:10px;
    border-radius:7px;
    margin-left:60px;
    white-space: nowrap;
    transition:opacity 0.5s ease;
    transform: translate(0px,15px);
}

.add_new_post::after{
    content:"";
    position:absolute;
    left:50%;
    transform:translate(-50%,-120%);
    border:15px solid;
    border-color:transparent rgba(255, 255, 255, 0) rgb(234, 236, 236) transparent;
}

.createpost_sec:hover +.add_new_post{
    display:block;
}



/*form*/
#overlap{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0, 0, 0, 0.5);
    transition: opacity 500ms;
    visibility:hidden;
    opacity:0;
    z-index: 2500;
}

#overlap:target{
    visibility:visible;
    opacity:1;
}

.wrapper{
    margin:7% 35%;
    padding:20px;
    padding-right:0px;
    border-radius:10px;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.2);
    background-color:rgb(247, 255, 255);
    width:25%;
    transition: all 0.5s ease-in-out;
}

.add_complaint_form{
    max-height:30%;
    overflow:hidden;
}

.closebtn{
    position:relative;
    font-size:20px;
    font-weight:bold;
    color:#ff0000;
    padding-left:90%;
    cursor:pointer;
}

a{
    text-decoration:none;
}

form{
    width:100%;
}

form .label{
    font-size:14px;
}

form .input_field{
    width:90%;
    height:20px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid green;
    background-color:transparent;
    margin-top:15px;
}

form .input_field:focus{
    outline:none;
}

form .discription{
    width:90%;
    height:200px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid green;
    background-color:transparent;

}

form .discription:focus{
    outline:none;
}

.publish{
    border:none;
    background-color:black;
    color:white;
    padding:8px;
    font-size:12px;
    font-weight:500px; 
    font-family:'Montserrat';
    width:75px;
    cursor:pointer;
}

.foot{
    display:flex;
    justify-content:space-between;
    margin:20px;
    margin-left:0px;
}

input[type=file]::file-selector-button{
    border:none;
    background-color: rgb(245, 253, 215);
    color:black;
    padding:8px;
    font-size:12px;
    font-weight:500px; 
    font-family:'Montserrat';
    width:75px;
    cursor:pointer;
}

input[type=file]::file-selector-button:hover{
    cursor:pointer;   
}

.form{
    padding:20px;
}



/*individual blog*/


.my_complaint_list{
    margin-top:50px;
}

.individual_complaint{
    padding:20px;
    background-color:white;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.2);
    border-left:4px solid green;
    width:95%;
    margin-bottom:15px;
    border-radius:5px;
}

#circle{
    font-size:12px;
    padding:5px 7px;
    border:1px solid rgb(239, 238, 238);
}

.complaint{
    font-size: 13px;
    font-weight:bold;
    margin-left:10px;
    transform: translateY(-20px);
}

.time{
    font-size: 12px;
    margin-left:40px;
    color:rgb(89, 88, 88);
}

.footer{
    margin-top:10px;
}

.edit , .delete{
    font-size: 10px;
    margin-left:5px;
    color:rgb(45, 45, 45);
}

#editbtn , #deletebtn{
    font-size: 10px;
    color:rgb(45, 45, 45);
}

#deletebtn{
    margin-left:25px;
}


.section_divide_hr{
    margin-top:60px;
    margin-bottom:30px;
    margin-left:20px;
    margin-right:20px;
}
.category{
    font-size:12px;
    list-style: none;
    transform: translateX(-40px);
    font-weight:bold;
    color:rgb(65, 64, 64);
    margin-left:90px;
    line-height: 25px;
    margin-top:60px;

}

#circle1{
    font-size:12px;
    margin-right:15px;
    color:;
    color:crimson;
}

#circle2{
    font-size:12px;
    margin-right:15px;
    color:rgb(134, 134, 53);
}

#circle3{
    font-size:12px;
    margin-right:15px;
    color:rgb(228, 196, 244);
}

#circle4{
    font-size:12px;
    margin-right:15px;
    color:rgb(210, 250, 210);
}

/*set colors for category*/
.set-green{

    color:rgb(210, 250, 210);
    padding:4px;
    border-radius:10px;
    font-size:8px;
    
}

.set-yellow{
    color:rgb(134, 134, 53);
    padding:4px;
    border-radius:10px;
    font-size:8px;
}

.set-orange{

    color:crimson;
    padding:4px;
    border-radius:10px;
    font-size:8px;
}

.set-purple{
    color:rgb(228, 196, 244);
    padding:4px;
    border-radius:10px;
    font-size:8px;
    
}

/*search section*/
.search_bar{
    margin-top:20px;
    width:130%;
}
.search_bar .search_content{
    border:2px solid rgb(41, 171, 56);
    border-radius:20px;
    padding:10px;
    padding-left:15px;
    width:75%;
}

.search_bar input{
    width:94%;
    border-radius: 20px;
    border:none;
    background-color:transparent;
}

#search{
    color:rgb(41, 171, 56);
}

.search_bar input:focus{
    outline:none;
}

.search_btn{
    background-color:transparent;
    border:none;
    cursor:pointer;
}
.search_bar .search_content{
    border:2px solid rgb(41, 171, 56);
    border-radius:20px;
    padding:5px;
    padding-left:15px;
}

.search_bar input{
    width:94%;
    border-radius: 20px;
    border:none;
}

#search{
    color:rgb(41, 171, 56);
}

.search_bar input:focus{
    outline:none;
}

.search_btn{
    background-color:transparent;
    border:none;
    cursor:pointer;
}

#cansel{
    display:none;
}

.f_filter_section{
    font-size:12px;
    list-style: none; 
    /* font-weight:bold; */
    color:rgb(65, 64, 64);
    line-height: 25px;
    padding-top:15px;
    padding-bottom:15px;
}


#innovations{
    accent-color: rgb(210, 250, 210);
}

#knowledge{
    margin-left:80px;
    accent-color: rgb(134, 134, 53);
}
#new_technique{
    accent-color:  crimson;
}
#production{
    margin-left:60px;
    accent-color:  rgb(228, 196, 244);

}

