*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.body{
    display:grid;
    grid-template-columns:20% 75% 5%;
    height:100%;
    padding-top:90px;
    
}

.section_1{
    background-color:rgb(255, 255, 255);
}
.section_2 {
    background-color:rgb(255, 255, 255);
}

.complaint_category{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,0.5fr));
    background-color:rgb(255, 255, 255);
    gap:10px;
    margin:30px;
}

.section_3{
    background-color: rgb(255, 255, 255);
}

.category_card{
    display:flex;
    width:200px;
    height:50px;
    border:1px solid rgb(216, 237, 219);
    padding:10px 20px;
    
}

#topic_icon{
    font-size: 30px;
}
.meaning_of_icon{
    font-size:12px;
    transform:translateY(25%);
    font-weight: bold;
    color:rgb(51, 65, 45);

}

#icon_category{
    font-size:25px;
    transform: translateY(25%);
    /* color:green; */
}

/* .seperate_category{
    margin-top:40px;
    border:2px rgb(8, 8, 112);
} */

.contact_us_type{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    background-color:rgb(255, 255, 255);
    gap:30px;
    margin:50px 100px;
    text-align:center;
}

.contact_us_card{
    padding:20px;
    border:1px solid rgb(182, 182, 185);
    width:180px;
    line-height: 10px;
    /* background-color:rgb(247, 255, 255); */

    background-color: white;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.2);
    border:none;
}

.contact_us_card:hover{
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.2);
}

#icon_contact_type{
    margin-bottom :40px;
    font-size: 30px;
    transform: translateY(25%);
    /* color:green;  */

    color:black;
}

#icon_category{
    margin-right :20px;
}

.contact_us_card .contact_button{
    width:100%;
    padding:7px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif; 
    /* background-color:rgb(90, 113, 78); */

    background-color: black;
    color:white;
    border:none;
}

.contact_us_card .contact_button:hover{
    cursor:pointer;
}

.contact_us_card .date, .time, .stmt{
    font-size: 12px;
}

.stmt{
    line-height:18px;
    color:rgb(22, 27, 19);
}

.topic, .topic_for_contact_us_type{
    font-weight: bold;
    font-size:14px;
    color:rgb(3, 118, 84);
}

.topic_category, .topic_icon{
    position:absolute;
    transform: translateY(5px);
    margin-left:20px;
}

.topic_for_contact_us_type{
    margin-top:30px;
}

/*form*/
#wrapper{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0, 0, 0, 0.5);
    transition: opacity 500ms;
    visibility:hidden; 
    opacity:0;
    z-index: 2500;
}

#wrapper:target{
    visibility:visible;
    opacity:1;
}

.contact_us_form{
    margin:2% 28%;
    padding:20px;
    padding-right:0px;
    border-radius:10px;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.2);
    background-color:rgb(247, 255, 255);
    width:40%;
}

.contact_form_discription{
    font-size:12px;
    text-align:center;
    margin-bottom:50px;
    line-height: 20px;
    padding:20px;
    /* transform: translateX(30px); */
}

.contact_us_form #users{
    font-size: 40px;
    transform: translateX(270px);
    margin-bottom:10px;
}

.closebtn{
    position:relative;
    font-size:20px;
    font-weight:bold;
    color:#ff0000;
    cursor:pointer;
    padding-left:95%;
}

form{
    width:100%;
    align-items: center;
}

form .label{
    font-size:14px;
}

form .input_field{
    width:95%;
    height:20px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid green;
    background-color:transparent;
    font-family: 'Montserrat', sans-serif; 
    margin-top:15px;
}

form .input_field:focus{
    outline:none;
}

form .discription{
    width:95%;
    height:150px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid green;
    background-color:transparent;

}

form .discription:focus{
    outline:none;
}

.send{
    border:none;
    background-color:black;
    color:white;
    padding:8px;
    font-size:12px;
    font-weight:500px; 
    font-family:'Montserrat';
    width:75px;
    cursor:pointer;
}