
/*side bar*/

.position{
  transform: translateX(-20px);
}
.body{
  display:grid;
  grid-template-columns:20% 76% 4%;
  min-height:600px;
  padding-top:80px;

}

.section_1{
  /* background-color:bisque; */
}

.section_2{
  /* background-color:azure; */
}



.section_3{
  background-color:white;
}



/*search section*/
.search_bar{
  /* margin-top:20px; */
  width:100%;
}
.search_bar .search_content{
  border:2px solid #376462;
  border-radius:20px;
  padding:7px;
  padding-left:15px;
}

.search_bar input{
  width:94%;
  border-radius: 20px;
  border:none;
  font-family:'Montserrat', sans-serif;
  background-color:transparent;
}

#searchBar{
  color:#376462;
}

#search{
  color:rgb(74, 74, 63);
  font-size:15px;
}

.search_bar input:focus{
  outline:none;
}

.search_btn{
  background-color:transparent;
  border:none;
  cursor:pointer;
}


#cancel{
  display:none;
}

/*order_list*/

.order_list{
  margin-top:0px;
}

.order_list_table{
  margin-top:20px;
  align-items: center;
  border-collapse:collapse; /*make common border between adjecent cell */
  width:100%;
  height:200px;
}

tr{
  height:60px;
  text-align: center;
}

.order{
  font-size: 14px;
  border:1px solid lavender;
  border-radius: 20px;
}


.table_head{
  font-size: 14px;
  color:#6d3e3e;
  font-weight:bold;
}

.delete{
  color:rgb(191, 29, 29);
  font-size:12px;
  cursor:pointer;
  font-weight: bold;
}


.value{
  border:1px solid rgb(225, 200, 200);
  border-radius:40px;
  padding:4px 6px;
  margin-left:10px;
  font-weight:bold;
}

#more_detail{
 transform: translate(260%, 80%);
 color:#917e7e;
 cursor:pointer;
}

.order_more_detail{
  font-size:12px;
  border:1px solid rgb(204, 204, 232);
  padding:15px;
  margin:0px 0px 25px 50px;
  line-height: 15px;
  color:rgb(90, 90, 125);
  width:445%;
}
#right{
  font-size: 25px;
  transform: translate(20px,50px);
  color:rgb(90, 90, 125);
}
.p_name{
  padding-left:10px;
}


/*payment_detail*/

.payment_detail{
  font-size:13px;
  margin-left:70%;
  margin-top:50px;
  line-height: 30px;
}

.payment_amount{
  padding-left:45px;
  color:rgb(79, 43, 43);
  font-size:14px;
  font-weight:bold;

}

.total, .shipping_cost, .total_inc_vat{
  font-weight:bold;
  color:rgb(141, 111, 111);

}

.vat{
  color:rgb(155, 133, 133);
  font-size:11px;
}

/*filter_section*/

.filter_section{
  padding-top:30px;
  font-size:13px;
  font-weight: bold;
  color:rgb(174, 169, 128);
}

#filter_label{
  margin-right:20px;
}

#filter_label:hover{
  cursor:pointer;
}

input[type=radio]{
  accent-color: crimson;
}

.add_image{
  width:75px;
  height:75px;
  padding:6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}


.product_category{
  background-color: #376462;
  color: #ccc;
  border: none;
  border-radius: 50px;
  width: 100px;
}

#review_btn{
   color: #376462;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

#ad_view_more_btn {
  background-color:transparent;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  color: #376462;
  font-size: 12px;
  border-radius: 4px;
}

/* error message */
.error_msg{
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
  font-size: 16px;
  text-align: center;
}

/* #ad_view_more_btn:hover {
  background-color: #376462;
} */

/* add details popup */

/* Popup container style */
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Popup content style */
.ad-details {
  width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Heading style */
.ad-details h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #333;
}

/* Form fields style */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #666;
  text-align: left;
}

.form-group input,
.form-group textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #333;
}

.form-group input[readonly],
.form-group textarea[readonly] {
  background-color: #fff;
}

.form-group input[type="text"],
.form-group input[type="number"] {
  height: 40px;
}

.form-group textarea {
  resize: none;
  height: 80px;
}

/* Button style */
.btn-close {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.btn-close:hover {
  background-color: #555;
}

/* .product-image {
  max-width: 450px;
  height: auto;
  margin-right: 10px;
}

.product-images img {
  width: calc(30% - 4px);
  height: calc(30% - 4px);
  transition: transform .3s ease-in-out;
}

.product-images img:hover {
  transform: scale(3.2);
} */

/* .product-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-images img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  transition: transform 0.1s ease-in-out;

}


.product-images img:hover {
  transform: scale(3) translate(-10%, -20%);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
} */

.product-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-images img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.popup-container {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.popup-image {
  max-width: 80%;
  max-height: 80%;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}





#ad-review-btn {
  background-color: #06543c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#ad-review-btn:hover {
  background-color: #06543c;
  opacity: 50%;
}

#reject-btn {
  background-color: crimson;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#reject-btn:hover {
  background-color: crimson;
  opacity: 50%;
}
#clc {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#clc:hover {
  background-color: #555;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.btn-group button {
  flex: 1;
  margin-right: 10px;
}

.btn {
  width: 120px;
  height: 40px;
}

.img-container {
  border: 5px solid #ffffff;
}

.alert {
  padding: 15px;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}


/* Pagination */

.pagination-container {
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a, .pagination .current-page {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #f5f5f5;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

.pagination .current-page {
  background-color: #000000;
  color: #fff;
}

.pagination a:hover {
  background-color: #000000;
  color: #fff;
}


/* error message  */

.error-msg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.error-msg {
  font-size: 1.5rem;
  color: #ff0000;
  padding: 1rem;
  border: 1px solid #ff0000;
  border-radius: 5px;
  text-align: center;
}

/* dialog deafult */
dialog{
  border: none;
}

#reject_btn{
  color: #ff6347;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* reject Button Popup */

#reject-dialog {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

#reject-dialog-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  color: #aaa;
}

#reject-dialog-close:hover {
  color: #000;
}

#reason-details {
  width: 100%;
  height: 80px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  margin-bottom: 10px;
}

#reject_btn_popup {
  background-color: #FF5C5C;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

#reject_btn_popup[type="submit"]:hover {
  background-color: #FF5C5C;
}

#reason-select,
#reason-details {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
}

.reject_popup_labels {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}
