*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.signup{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/backViewPro.jpg");
}

.content{
    width: 50%;
    height: fit-content;
}

#signupadmin{
    color: #00C88B  ;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    font-weight: 500;
}

.content form{
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    background-image: url("../img/backViewPro.jpg");
    display: flex;
    gap: 50px;
    padding: 7% 5%;
    justify-content: space-around;
    border-radius: 20px;
    font-weight: 500;
    color: white;
    box-shadow: #e2dada66 0px 30px 90px;
}
.content form label{
    /* margin-top: 20px; */
}
.content form input{
    padding: 10px;
    margin-block: 10px;
}

.content form input , #gender{
    border: none;
    padding: 3px 5px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background: white;
    color: #004100;
    font-weight: 600;
    

}

.content form button{
    width: 100px;
    margin-top: 30px;
    padding: 5px;
    border: none;
    border-radius: 15px;
    color: white;
    background: #00C88B;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: 700;
    float: right;
    
}

.content form button:hover{
    background: white;
    color: #58BD53;
}

.right{
    margin-top: 10px;
}