.a_dashmaincontent{
    margin-top: 2.5%;
    margin-left: 360px;
    margin-right: 2rem;
    /* display: grid;
    margin-top: 50px;
    grid-template-columns: 20% 70% 10%;
    display: column;
    height:100%; */
}

.a_dashmaincontent hr{
  height: 2px;
  background-color: #004100;
}
.a_dashmaincontent h1{
    font-size: 30px;
    color: #004100 ;
    margin-bottom: 0;
}

.a_dash_content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  min-height: 550px;
  margin-top: 1rem;

}
.a_dash_card {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a b"
    "c b"
  ;
  align-items: center;
  justify-items: center;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.a_dash_card > h3 {
  font-size: 2rem;
  grid-area: a;
}

.a_dash_card > p {
  grid-area: c;
  font-size: 15px;
  font-weight: bold;
}

.a_icon{
  grid-area: b;  /* margin-left: 300px; */
  font-size: 70px;
  color: #75e968;
  
}


.a_dash_card_one {
  /* margin-top: 20px; */
  transition: 0.3s;
  border-radius: 10px;
  width: 30%;
  padding:0 0 40px;
  /* margin-left: 20px; */
  border: 2px solid;
  border-color: #ffffff;

}

.a_dash_card_two {
  /* margin-top: 20px; */
  transition: 0.3s;
  border-radius: 10px;
  width: 30%;
  padding:0 0 40px;
  /* margin-left: 20px; */
  border: 2px solid;
  border-color: #ffffff;
}

.a_dash_card_three {
  /* margin-top: -262px; */
  transition: 0.3s;
  border-radius: 10px;
  width: 30%;
  padding:0 0 40px;
  /* margin-left: 510px; */
  border: 2px solid;
  border-color: #ffffff;
}
.a_dash_card_four {
  /* margin-top: 20px; */
  transition: 0.3s;
  border-radius: 10px;
  width: 30%;
  padding:0 0 19px;
  /* margin-left: 510px; */
  border: 2px solid;
  border-color: #ffffff;
}

.a_dash_card_five {
  /* margin-top: -262px; */
  transition: 0.3s;
  border-radius: 10px;
  width: 30%;
  padding:19px 0 19px;
  /* margin-left: 1000px; */
  border: 2px solid;
  border-color: #ffffff;
}
.a_dash_card_six {
  /* margin-top: 20px; */
  transition: 0.3s;
  border-radius: 10px;
  width: 30%;
  padding:0 0 45px;
  /* margin-left: 1000px; */
  border: 2px solid;
  border-color: #ffffff;
}

.a_dash_card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  color: #75e968;
  background-color: #faffff;
}



/* .name{
  font-size:30px;
  font-weight: bold;
  margin-left: 10px;
} */

/* .caption{
  font-size:20px;
  font-weight:half-bold;
  margin-left: 10px;
  margin-top: -35px;
} */

.a_dash_first_row{
    display: flex;
    justify-content: space-between;
     
}


.a_dash_second_row{
  display: flex;
  justify-content: space-between;
}
/* responsive */

@media screen and (max-width: 768px){
  .a_dash_content{
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (max-width: 576px){
  .a_dash_content{
    grid-template-columns: 1fr;
  }
}