
.body{
  display:grid;
  grid-template-columns:20% 70% 5%;
  min-height:600px;
  padding-top:80px;
  
}

.section_1{
  /* background-color:bisque; */
}

.section_2{
  /* background-color:azure; */
}



.section_3{
  background-color:white;
}



/*search section*/
.search_bar{
  /* margin-top:20px; */
  width:102%;
}
.search_bar .search_content{
  border:2px solid rgb(55, 100, 98);
  border-radius:20px;
  padding:5px;
  padding-left:15px;
}

.search_bar input{
  width:90%;
  border-radius: 20px;
  border:none;
  font-family:'Montserrat', sans-serif;
  background-color:transparent;
}

#searchBar{
  color:#376462;
}

#search{
    color:rgb(74, 74, 63);
    font-size:15px;
}

.search_bar input:focus{
  outline:none;
}

.search_btn{
  background-color:transparent;
  border:none;
  cursor:pointer;
}


#cancel{
  display:none;
}

/*order_list*/

.order_list{
  margin-top:0px;
}

.order_list_table{
  margin-top:20px;
  align-items: center;
  border-collapse:collapse; /*make common border between adjecent cell */
  width:100%;
  height:200px;
}

tr{
  height:40px;
  text-align:center;
}

.order{
  font-size: 14px;
  border:1px solid lavender;
  border-radius: 20px;
}


.table_head{
  font-size: 14px;
  color:rgb(109, 62, 62);
  font-weight:bold;
}

.action{
  display:flex;
  flex-direction:column;
  justify-content:center;
  height: 15vh;
  align-items: center;
  padding: 10px;
}
.delete{
  color:rgb(191, 29, 29);
  font-size:12px;
  cursor:pointer;
  font-weight: bold;
}

.activate{
  color:#1ABC9C ;
  font-size:12px;
  cursor:pointer;
  font-weight: bold;
}

.viewmore{
  color:green;
  font-size:12px;
  cursor:pointer;
  font-weight: bold;
}

.value{
  border:1px solid rgb(225, 200, 200);
  border-radius:40px;
  padding:4px 6px;
  margin-left:10px;
  font-weight:bold;
}

#more_detail{
 transform: translate(260%, 80%);
 color:rgb(145, 126, 126);
 cursor:pointer;
}

.order_more_detail{
  font-size:12px;
  border:1px solid rgb(204, 204, 232);
  padding:15px; 
  margin:0px 0px 25px 50px;
  line-height: 15px;
  color:rgb(90, 90, 125);
  width:445%;
}
#right{
  font-size: 25px;
  transform: translate(20px,50px);
  color:rgb(90, 90, 125);
}
.p_name{
  padding-left:10px;
}


/*payment_detail*/

.payment_detail{
  font-size:13px;
  margin-left:70%;
  margin-top:50px;
  line-height: 10px;
}

.payment_amount{
  padding-left:45px;
  color:rgb(79, 43, 43);
  font-size:14px;
  font-weight:bold;
  
}

.total, .shipping_cost, .total_inc_vat{
  font-weight:bold;
  color:rgb(141, 111, 111);

}

.vat{
  color:rgb(155, 133, 133);
  font-size:11px;
}

/*filter_section*/

.filter_section{
  padding-top:30px;
  font-size:13px;
  font-weight: bold;
  color:rgb(174, 169, 128);

}

#filter_label{
  margin-right:20px;
}

#filter_label:hover{
  cursor:pointer;
}

input[type=radio]{
  accent-color: crimson;
}

#filter_form{
  display: flex;
  
}

.add_image{
  width:75px;
  height:75px;
  padding:6px;
}

.button_section{
  display:grid;
  grid-template-columns: 85% 15%;;
  gap:2%;
}

.add_user{
  padding:10px;
  border:none;
  background-color: rgb(0, 0, 0);
  color:white;
  font-family:'Montserrat', sans-serif ;
  border-radius:25px;
  cursor:pointer;
}


#addUserPopup {
  border: none;
  padding: 0;
  border-radius: 10px;
}

#addUserPopup::backdrop{
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
}

.addUserPopup { 
  min-height: 200px;
  padding:1rem;
  display: flex;
  flex-direction: column;
  
}

.addUserPopup h2{
  font-size:15px;
}

.dialog__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  border-bottom: 1px solid #ccc;
}

.dialog__heading button {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
}

.dialog__content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.dialog__content a {
  text-align: center;
  width: 120px;
  height: 30px;
  padding: 0.5rem 0.5rem;
  background-color: #06543c;
  color: #fff;
  border-radius: 10px;
  display: grid;
  place-items: center;
  opacity: 0.8;
  transform: opacity 0.2s ease-in-out;
}

.dialog__content a:hover {
  opacity: 1;
}

#add_admin, #add_agri_officer{
  font-size:13px;
  font-weight:bold;
  text-decoration:none;
}

.error_msg{
  font-size: 25px;
  font-weight: 500px;
  text-align: center;
}

/* .error_msg_name{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color:crimson ;
} */

/* Delete Button */
/* #deactive_user_button{
   color: crimson;
   background-color: transparent; 
   border: none;
   cursor: pointer;
} */

[id^="deactive_user_button-"] {
  color: crimson;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#active_user_button{
  color: #1ABC9C ;
  background-color: transparent; 
  border: none;
  cursor: pointer;
}

#view_more{
   color: 06543c ;
   background-color: transparent; 
   border: none;
   cursor: pointer;
}

.user_role{
  background-color: black;
  color: #ccc;
  border-radius: 50px;
  width: 100px;
}

/* Deactivate User Popup */
[id^="deactivateUserPopup"] dialog {
  border: none;
  padding: 0;
  border-radius: 10px;
}


[id^="deactivateUserPopup"]::backdrop{
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
}

.deactivateUserPopup { 
  min-height: 200px;
  padding:1rem;
  display: flex;
  flex-direction: column;
  
  
}

.deactivateUserPopup h2{
  font-size:15px;
}

[id^="closebtntwo-"]{
  color: crimson;
  cursor: pointer;
}

.dialog__content a:hover {
  opacity: 1;
}

#yes, #no{
  font-size:13px;
  font-weight:bold;
  text-decoration:none;
}

#yes{
   background-color: crimson;
   color: #ccc;
}

#no{
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

td.active-status {
  color: #06543c;
}

td.deactivated-status {
  color: crimson;
}


dialog {
  border: none;
  border-radius: 10px;
}