*{
    font-family: 'Poppins', sans-serif;
  }
  .body{
    display:grid;
    grid-template-columns:20% 75% 5%;
    padding-top:100px;

  }

  .section_1{
    /* background-color:bisque; */
  }

  .dashboard{
    background-color:rgb(255, 255, 255);
    /* background-color: red; */
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    padding:20px;
    gap:20px;
  }
  .section_2{
    grid-template-rows: repeat(auto-fit,minmax(250px,1fr));
  }

  .section_2 h2{
    padding-left:20px;
  }

  .dashboard_header{
    display:grid;
    gap:0px;
    grid-template-columns: 15% 70%;
  }

  .dashboard_header form{
    padding-top:10px;
  }
  .search_bar .search_content{
    border:2px solid rgb(139, 137, 121);
    border-radius:20px;
    padding:6px;
    padding-left:15px;
    width:77%;
  }

  .search_bar input{
    width:90%;
    border-radius: 20px;
    border:none;
    font-family:'Montserrat', sans-serif;
  }

  #search{
    color:rgb(74, 74, 63);
    font-size:15px;
    padding: 5px;
    border-radius: 25px;
    background-color: #f9f9f9;
    border: none;
  }

  .search_bar input:focus{
    outline:none;
  }

  .search_btn{
    background-color:transparent;
    border:none;
    cursor:pointer;
  }


  #cansel{
    display:none;
  }


  .demo{
    padding:20px;
    padding-left:0px;
  }

  .card{
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.2);
    height:130px;
    width:250px;
    border-radius:10px;
    /* background-color: blue;  */

    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}
#card_icon{
    color: rgb(87, 175, 141);
}



  .p1{
    display: flex;
    flex-direction:column;
  }

  .p2{
    display: flex;
    justify-content: flex-end;

  }

  #card_icon{
    color: rgb(87, 175, 141);
  }

  .card:hover{
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor:pointer;
    background-color:rgb(0, 0, 0);
  }

  .card:hover .count{
    color:white;
  }

  .card:hover .topic{
    color:white;
  }

  .card:hover .time_period{
    color:white;
  }

  .card:hover #total_income_icon{
    color:white;
  }
  .card:hover  #ongoin_order_icon{
    color: white;
  }

  .card:hover  #complete_order_icon{
    color: white;
  }

  .card:hover  #complain_icon{
    color: white;
  }





  .last{
    /* background-color:beige; */
  }

  .card .content{
    padding:10px 20px;
    display:grid;
    grid-template-columns: 70% 30%;
    line-height: 0px;
    align-items:center;
    /* background-color: green; */
  }

  .count{
    font-weight:bold;
    font-size:30px;
    color: rgb(0, 0, 0);
  }

 #complain_icon,#supplier_icon,#officer_icon,#ad_icon, #total_income_icon, #Ongoin_order_icon, #complete_order_icon,  #item, #deals, #review, #wishlist,#blog_icon,#forum_icon,#usage_icon{
    padding:20px 0px;
    font-size:45px;
    color: rgb(0, 0, 0);
  }

  .card:hover #blog_icon{
    color:white;
  }

  .card:hover #forum_icon{
    color:white;
  }

  .card:hover #usage_icon{
    color:white;
  }

  .card:hover #supplier_icon{
    color:white;
  }

  .card:hover #officer_icon{
    color:white;
  }

  .card:hover #ad_icon{
    color:white;
  }

  .card:hover #complain_icon{
    color:white;
  }

  /* #supplier_icon, #ad_icon{
    transform:translate(150px, -100px);
    font-size:50px;
    color: rgb(87, 175, 141);
  } */

  /* #officer_icon{
    transform:translate(160px, -100px);
    font-size:50px;
    color:rgb(9, 142, 91);
  } */

  .time_period{
    font-size:10px;
    font-weight:bold;
  }

  .topic{
    font-size:15px;
  }

   /*chart status here*/

   .charts{
    display:grid;
    grid-template-columns: 2fr 1fr ;
    grid-gap:10px;
    width:100%;
    margin:20px;
    padding-top:0px;
  }

  .chart{
    background-color: rgb(250, 252, 252);
    padding:20px;
    border-radius:10px;
    border:1px solid rgb(233, 230, 230);
    box-shadow:0px 7px 25px rgba(0,0,0,0.08);
  }

 .chartsLevel2{
    display:grid;
    grid-template-columns: 3fr 2fr ;
    grid-gap:10px;
    width:100%;
    margin:20px;
    padding-top:0px;
}

.chart h2{
    margin-bottom:5px;
    font-size:20px;
    color:#666;
    text-align:center;
}

th,td{
    padding:10px; 
    font-size: 12px;
    border:1px solid lavender;
    border-radius: 20px;
}

table{
    margin-top:40px;
    align-items: center;
    border-collapse:collapse; /*make common border between adjecent cell */
    width:100%;
    height:200px;
}

.category_style{
    background-color: salmon;
    color:white;
    font-size:8px;
    padding:5px;
    border-radius:50px;
}

/*set colors for category*/
.set-green{
    background-color: #36a736;
    color:white;
    font-size:8px;
    padding:5px;
    border-radius:50px;    
}

.set-yellow{
    background-color: rgb(134, 134, 53);
    color:white;
    font-size:8px;
    padding:5px;
    border-radius:50px;
}

.set-orange{
    background-color: crimson;
    color:white;
    font-size:8px;
    padding:5px;
    border-radius:50px;
}

.set-purple{
    background-color: rgb(228, 196, 244);
    color:white;
    font-size:8px;
    padding:5px;
    border-radius:50px;
}
.set-blue{
    background-color: rgb(81, 111, 143);
    color:white;
    font-size:8px;
    padding:5px;
    border-radius:50px;
}

@media(max-width:1115px){
    .chart{
        max-width: 1fr;
    }
}


/*pagination*/
.pages {
    display:flex;
    list-style:none;
    justify-content: center;
    transform: translateX(-25px);
}

.pages li{
    border-color:black;
    background-color:rgb(238, 255, 228);
    cursor:pointer;
    /* width:30px;
    height:23px; */
    text-align:center;
    vertical-align: middle;
    font-weight: bold;
    margin-right:2px;
    font-size:8px;
    transform: translateX(-10px);
    padding-top:9px;
}


.pages li:hover{
    background-color: rgb(152, 196, 194);
    color: white;
    cursor:pointer;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.1);

}

.pagination{
    margin-left:49%;
    margin-top:2%;
    display:inline-block;
}

.pagination_number:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

#forward_bracket, #backword_bracket{
    transform: translate(0px,0px);
    padding:5px 5px 5px 5px;
    color:black;

}

.pagination_number {
    width: 8px;
    height: 15px;
    display: inline-block;
    padding: 4px 10px 10px 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    color: #333;
    text-decoration: none;
    border-radius: 50px;
    text-align: center;
  }
  
  .current_page {
    background-color: #000000;
    color: #fff;
    border-color: #000000;
  } 
