.aum_maincontent{
    margin-top: 3.8%;
    margin-left: 19%;
}

.aum_maincontent hr{
    
    border-width: 1px;
    color: #75e968;
}
.aum_maincontent h1{
    font-size: 30px;
    color: #004100 ;
}

  #adManageTableRevA{
    border-collapse: collapse;
    width: 100%;
  }

  #adManageTableRevA td, #adManageTableRevA th {
    border: 1px solid #D9D9D9;
    padding: 8px;
    color: #004100;
  }

  #adManageTableRevA tr{
    background-color: #e6ede6; 
    color: #004100;
  }

#adManageTableRevA tr:hover {
  background-color: #ddd;
  cursor: pointer;
  color: rgb(149, 136, 136);}

#adManageTableRevA th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00C88B;
  color: white;
}
.deleteButton {
  background-color: #FF0000 ;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.deleteButton a{
   text-decoration: none;
   color: white;
}

.viewMoreButton{
    background-color: #00C88B ;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    cursor: pointer;
  }

.am_above_table_reviewed{
    margin-top: 12px;
    margin-bottom: 10px;

}

#reviewedAddsReviewed{
  color: #004100;
  
   
}

#pendingAddsReviewed{
  color:#beb5b5;
}

#adimg{
    width: 25%;
}