.body{
    display:grid;
    grid-template-columns:20% 70% 10%;
    height:100%;
    padding-top:65px;
    
  }
  
  
  .s_dashboard {
    margin-left: 30px;
  }
  
  .s_dashboard h1 {
    padding-top: 1rem;
    /* padding-bottom: 1rem;
    margin-bottom:2rem; */
  }
  
  .btn_container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  .btn_container .btn {
    text-decoration: none;
    color: #fff;
    background-color:#19960b;
    padding: 5px 10px;
    border-radius:10px;
    margin-right: 2rem;
  }
  
  .s_dashmaincontent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 1rem;
  }
  
  
  .s_card {
    min-height: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: 500ms ease-in-out;
  }
  
  
  .s_card:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  }
  
  
  .s_cardcontent {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding-block: 10px;
  }
  
  .s_cardcontent h3 {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .s_cardcontent p{
    margin: 8px 0;
    font-size: 12px;
  }
  
  .s_cardimg {
    flex-grow: 1;
    display: grid;
    place-items: center;
    padding-top: 5px;
  }
  
  .s_cardimg i {
    font-size: 3rem;
    color:#75e968;
  }
  
  