.aum_maincontent {
    margin-top:4.0%;
    margin-left: 19%;
  
  }
  
  #kk{
    font-size:70px
  }
  #ongoingAdds{
    color: #004100;
    font-weight: bold;
  }
  
  #rejectedAdds{
    color: #78797c;
  }
  
  #pendingAdds{
    color: #78797c;
  }
  
  
  #fertilizertable{
    border-collapse: collapse;
    width: 100%;
  }
  
  #fertilizertable td, #fertilizertable th {
    border: 1px solid #D9D9D9;
    padding: 8px;
  }
  
  #fertilizertable tr{
    background-color: #E8EFFF;
  }
  
  #fertilizertable tr:hover {background-color: #ddd;}
  
  #fertilizertable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00C88B;
  color: white;
  }
  .addReview hr{
     height:2px;
     border-width:0;
     color:#D9D9D9 ;
     background-color:gray;
  }
  
  #addNew{
    margin-top: -5px;
    float: right;
    background-color: #00C88B;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 16px;
  }
  
  .editButton {
    background-color: #00C88B ;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  
  
  }
  
  .editButton {border-radius: 4px;}
  
  
  
  
  
  .editButton a{
     text-decoration: none;
     color: white;
  }