/*comment box*/

.comment_section{
    background-color:rgb(255, 255, 255);
    padding:30px;
    padding-right:0px;
}

.comment_section_header{
    font-weight: bold;
    font-size:15px;
    padding:20px;
}

.user{
    background-color: rgb(49, 92, 85);
    padding:5.5px 9px;
    border-radius: 25px;
    font-weight:bold;
    border:2px solid rgb(216, 218, 215);
    color:beige;
}

.user-reply{
    background-color: rgb(236, 253, 250);
    padding:6px 8px;
    border-radius: 25px;
    font-weight:bold;
    border:2px solid rgb(216, 218, 215);
    font-size:12px;
    color:rgb(49, 92, 85)
}

#usercommon{
    background-color: rgb(2, 42, 35);
    color:white;
    padding:5.5px 9px;
    border-radius: 25px;
    font-weight:bold;
    border:2px solid rgb(216, 218, 215);
}

.comment-body{
    border-top:none;
    border-left:none;
    border-right:none;
    width:90%;
    transform: translate(7px,-5px);
    font-family: 'Montserrat';
    font-size:12px;
}

.comment-body:focus{
    outline: none;
}

.btn{
    transform: translateX(79%);
    display:none;
}

.btn button{
    background-color: transparent;
    border:1px solid rgb(247, 233, 233);
    cursor:pointer;
    border-radius:25px;
    font-size:12px;
    font-family: 'Montserrat';
    padding:3px 5px;
}

.btn button:hover{
    font-weight:bold;
    border:1px solid black;
    cursor:pointer;
    border-radius:25px;
    font-size:12px;
    font-family: 'Montserrat';
}


.comment_form{
    padding-bottom:30px;
}

.name{
    font-size:12px;
    font-weight:bold;   
}

.publish_date{
    font-size:9px;
    padding-left:5px;
    font-weight:lighter;
    color:rgb(55, 55, 53);
}

.comment_post{
    font-size:12px;
}

.reply, .edit, .delete{
    font-size:10px;
    font-weight:bold;
    margin-left:7px;
    cursor:pointer;
    color:rgb(134, 134, 53);
}

#replybtn{
    font-size:10px;
    cursor:pointer;
    color:rgb(134, 134, 53);
}

#editbtn, #deletebtn{
    font-size:10px;
    cursor:pointer;
    padding-left:20px;
    color:rgb(134, 134, 53);
}

.display_comment{
    padding-left:40px;
    transform: translateY(-35px);
    display:block;
    line-height:8px;
}

.display_reply_all{
    display:none;
}
.display_reply{
    padding-left:40px;
    transform: translateY(-35px);
    display:block;
    line-height:8px;
}

.reply_form{
    padding:20px 35px;
    transform: translateY(-20px);
    display:none;
}

.reply-body{
    border-top:none;
    border-left:none;
    border-right:none;
    width:90%;
    transform: translate(7px,-5px);
    font-family: 'Montserrat';
    font-size:12px;
}

.reply-body:focus{
    outline: none;
}

.reply_section{
    margin-left:35px;
}

.comment_section hr{
    background-color:rgb(241, 250, 242);
    transform: translateY(-20px);
    width:95%;
    margin-left:0px;
    border:none;
    height:2px;
}

.reply_visible_click_button{
    margin-top:20px;
    border:none;
    border-radius:20px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    text-align: center;
    cursor:pointer;
    background-color: azure;

}

.display_reply_btn_text{
    color:darkgreen;
    font-size: 10px;
    font-family: 'Montserrat';
}

.drop_down_btn{
    font-size:10px;
    margin-right:7px;
    color:darkgreen;
}