
body {
    margin: 0;
    font-family: 'Montserrat';
}
 
.topnav{
  position: fixed; 
  top: 0; 
  background-color: rgb(5,35,35) ;
  height: 65px;
  width: 100%;
  z-index:1001;
}

.topnav-content {
  margin: 0 50px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link a {
  margin: 0px 10px;
  
  color: rgba(255, 255, 255, 0.781);
  padding: 10px;
  text-decoration: none;
  /* font-size: 17px; */
  font-size:15px;
  font-weight: bold;
}

.nav-link{
  float:right;
}
.nav-link a:hover {
  color: white;
}

/* .topnav .img {
  width: 65px;
  height: 55px;
}  */

.topnav .img {
  width: 120px;
  height: 40px;
} 


.dis{
  padding:0px;
  margin:0px;
  width:210px;
  height:20px;
  transform:translate(-330px,-5px);
}


 #dots{
  background: linear-gradient(rgba(62, 62, 62, 0.6),rgba(103, 102, 102, 0.6));
  color:rgb(255, 255, 255);
  padding:8px 13px;
  border-radius: 25px;
  font-size:12px;
  cursor:pointer;
}



.dropdown-content {
  position: absolute;
  top:67px;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap:5px;
  background-color: #e6ede6;
  padding:20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #00000031;
  z-index: 4000;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display:inline-block;
  margin: 0;
  font-size:13px;
}

.dropdown-content a:hover {
  color: #004100;
}


#bell{
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.781);
  padding: 10px;
  font-size:15px;
  cursor:pointer;

}

#bell:hover{
  color:white;
}


.notification-dropdown-content {
  position: absolute;
  top:67px;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap:5px;
  background-color: #fff;
  padding:20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #00000031;
  z-index: 8000;
  border-top:45px solid crimson;
}

.notification_section_header{
  font-size:14px;
  position: absolute;
  top:-30px;
  font-weight:bold;
  color:rgba(255, 255, 255, 0.781);
}

#gear{
  margin-left:90px;
}

.notification-dropdown-content span {
  color: black;
  padding: 18px 21px;
  text-decoration: none;
  display:inline-block;
  margin: 0;
  font-size:13px;
}

.notification-dropdown-content span:hover {
  color: #004100;
}

.notification_line{

}

#mail, #forum, #messages{
  padding:5px; 
  border-radius: 25px;
}

#mail{
  color:rgb(188, 251, 188);
  border:1px solid rgb(188, 251, 188);

  color:rgb(107, 103, 80);;
  border:1px solid rgb(107, 103, 80);;
}

#forum{
  color:rgb(81, 111, 143);
  border:1px solid rgb(81, 111, 143);
}

#messages{
  padding:5px;
  color:rgb(228, 196, 244);
  border:1px solid rgb(228, 196, 244);
}

.notification_hr{
  border-top:1px solid rgb(237, 235, 235);
}

.see_more{
  font-size:12px;
  color:rgb(187, 184, 184);
  margin-top:50px;
  margin-left:75px;
  text-align: center;
  cursor:pointer;
}









#leaf1{
  color:rgb(246, 246, 206);
  transform: translate(95px, -18px);
}

#part_a_nav{
  font-weight:bolder;
  color:rgb(235, 251, 236);
  transform: translate(-10px,0px);
}
#part_b_nav{
  color:rgb(235, 251, 236);
  transform: translate(-398px,0px);
  font-weight: bolder;
} 



