
body {
    margin: 0;
    font-family: 'Montserrat';
}
 
.topnav{
  position: fixed; 
  top: 0; 
  background-color: rgb(5,35,35) ;
  height: 65px;
  width: 100%;
  z-index:1001;
}

.topnav-content {
  margin: 0 50px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link a {
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.781);
  padding: 10px;
  text-decoration: none;
  /* font-size: 17px; */
  font-size:15px;
  font-weight: bold;
}

.nav-link a:hover {
  color: white;
}

/* .topnav .img {
  width: 65px;
  height: 55px;
}  */

.topnav .img {
  width: 120px;
  height: 40px;
} 


.dis{
  padding:0px;
  margin:0px;
  width:210px;
  height:20px;
  transform:translate(-330px,-5px);
}


 #dots{
  background: linear-gradient(rgba(62, 62, 62, 0.6),rgba(103, 102, 102, 0.6));
  color:rgb(255, 255, 255);
  padding:8px 13px;
  border-radius: 25px;
  font-size:12px;
  cursor:pointer;
}



    
.dropdown-content {
  position: absolute;
  top:67px;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap:5px;
  background-color: #fff;
  padding:20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #00000031;
  z-index: 4000;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display:inline-block;
  margin: 0;
  font-size:15px;
}

.dropdown-content a:hover {
  color: #004100;
}












#part_a_nav{
  font-weight:bold;
  color:rgb(187, 241, 189);
  transform: translate(200px,0px);
}
#part_b_nav{
  color:rgb(33, 235, 33);
  transform: translate(-199px,0px);
  font-weight: bold;
} 



