*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    margin:0px;
}
.footer_section{
    position:relative;
    margin-top:100px;
    margin-bottom:0px;
    z-index: 1000;
    font-family: 'Montserrat';
    justify-content: center;
    height:fit-content;
}
.footer_content{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap:110px;
    background-color: rgb(0, 0, 0);
    padding-left:18%;
    padding-right:60px;
    padding-top:40px;
    padding-bottom: 20px;
    color:rgb(228, 225, 225);
}


.logo_footer{
    font-weight: bold;
    text-align:center;
    padding-bottom:0rem;
    font-size:20px;
}

#leaf_footer{
    font-size:20px;
    position:absolute;
    /* color:rgb(246, 246, 206); */
    color:rgb(230, 160, 19);
    transform: translate(88px, -20px);
}

.about_us{
    font-size:11px;
    text-align: justify;
    
}

.footer_content h3{
    font-size: 15px;
    color:white;
    font-weight:bolder;
}
.footer_content .lists{
    list-style: none;
    font-size: 11px;
    line-height: 25px;
    padding-left: 0px;
    font-weight: 900px;
}
.lists li{
    cursor: pointer;
}
.footer_content a{
    text-decoration: none;
    cursor: pointer;
    color:rgb(228, 225, 225);
}
.footer_content a:hover{
    color:rgb(189, 239, 201);
    font-weight: bold;
}
#contact_icons{
    padding-right: 15px;
}

.sign_up{
    font-size: 12px;
    padding:10px;
    padding-right:10px;
    border:1px solid rgb(230, 160, 19);
    background-color: transparent;
    width:80%;
   
}

.sign_up::placeholder{
    color:white;
}

.sig_up{
    color:white;
}

.new_sletter_form input{
    color:white;
}

.new_sletter_form{
    display:flex;
}

.signup_btn{
    margin-left:10px;
    background-color:rgb(230, 160, 19) ;
    border:none;
    font-family:'Montserrat';
    font-weight: bold;
    font-size:12px;
    color:rgb(188, 229, 207);
    cursor:pointer;

}
.signup_button_text{
    display:flex;
}

.error{
    font-size: 12px;
    color:red;
}
.success{
    font-size: 12px;
    color:rgb(230, 160, 19); 
}


hr{
    margin-top: 0px;
    color:white;    
}
.copy-rights-section{
    background-color: black;
    padding-bottom:5px;
}
.copyright{
    font-size: 9px;
    text-align: center;
    color:white;
    transform: translateY(-4px);
}
#copyright_icon{
    margin-right:5px;
}
.developers{
    color:rgb(230, 160, 19);
    margin-left: 5px;
}


/* Help button */

#openDialog{
    cursor: pointer;
    background-color: transparent;
    color: rgb(230, 160, 19);
    /* border-radius: 5px; */
}



/* help css */

.dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    z-index: 9999;
    border:none;
  }
  
  .dialog-box form {
    display: flex;
    flex-direction: column;
  }
  
  .dialog-box label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .dialog-box input[type="email"],
  .dialog-box textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f9f6f6;
    resize: vertical;
    font-size: 16px;
    margin-bottom: 10px;
    font-size:13px;
    color:gray;
  }
  
  .dialog-box input[type="email"]:focus
 {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f9f6f6;
    resize: vertical;
    margin-bottom: 10px;
    font-size:13px;
    color:gray;
  } 
  
  .dialog-box button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #1B1212;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dialog-box button[type="submit"]:hover {
    color: #1B1212;
    background-color: #fff;
    border: 1px solid #1B1212;
  }
  
  .dialog-box button.dialog-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color:rgb(230, 160, 19);
  }
  
  .dialog-box h2.dialog-title {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .dialog-box .dialog-content {
    height: 200px;
  }
    
  