/*horizontal navbar*/
*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    margin:0px;
    padding:0px;
    font-family: 'Montserrat';
}

#part_a{
    position:absolute;
    color:white;
    transform: translate(250px,30px);
}
#part_b{
    position:absolute;
    color:rgb(218, 252, 218);
    transform: translate(293px,30px);
} 
header{
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(40, 40, 40, 0.6)),url("..public/images/background2.jpg");
    background-size: cover;
    height:77vh;
    -webkit-background-size:cover ;
    background-position:center;
    margin:0px;
    padding:0px; */
}
nav{
    top:0;
    transform: translate(-10%,-10%);
    width:100%;
    left:0px;
    right:0px;
    height:120px;
    background-color:transparent; 
    overflow:hidden;
    font-size:15px;
    /* position: fixed; */
 }
 
 .nav ul{
     width:auto;
     float:right;
 }

 .nav li{
     display:inline-block;
     padding:18px 20px;
 }
 
 .nav a{
     text-align:center;
     color:rgb(255, 255, 255);
     text-decoration:none;
     font-weight:bold;    
 }
 
 .nav a:hover{
     color:rgb(184, 241, 184);
     font-weight:bold;
     transition:0.5s;
 }

 #user_home{
    color:lightgreen;
    margin-right:5px;
 }

.home_hr{
    color:gray;
    transform: translateY(-70px);
}


 .main{
    margin:0px;
    position:relative;
    color:white;
    font-size:30px;
    font-weight:bold;
    margin:5% 28% 0.1% 30%;
    user-select:none;
    text-transform:uppercase;

 }

 .sub_main{
    font-size:12px;
    margin:0px;
    position:relative;
    color:rgb(218, 214, 214);
    margin:0% 27.5% 2.5% 27.2%;
 }

 /*search section*/
.search_bar{
    position:relative;
    margin-top:20px;
    width:46%;
    margin:0% 27%;
}

.search_bar input{
    width:70%;
    border:none;
    font-family:'Montserrat', sans-serif;
    background-color:transparent;
    background-color: aliceblue;
    padding:10px;
    padding-left:15px;
    background-color: white;
}

.search{
    font-size:11px;
    margin-left:5px;
    
}

.search_content .search_btn{
    padding:10px;
    padding-left:55px;
    padding-right:55px;
    background-color: rgb(171, 71, 64);
    color:white;
    transform: translateY(0.5px);
}

#search{
    /* color:rgb(41, 171, 56); */
    color:white;
}

.search_bar input:focus{
    outline:none;
}

.search_btn{
    background-color:transparent;
    border:none;
    cursor:pointer;
}

 .nav ul .home_link{
    color:rgb(218, 252, 218);
}

.click_home_icon{
    margin:2% 38% 0% 38%;
    transform: translateY(20px);
}
#home_icon{
    color:white;
    padding:15px;
    border-radius:30px;
    display:inline-block;
    margin-right:10px;
    background: linear-gradient(rgba(34, 34, 34, 0.6),rgba(40, 40, 40, 0.6));
}

.home_icon_name{
    margin-left:39%;
    margin-top:2%;
    align-items:center;
    display:flex;
    color:white;
    font-size:11px;
}

.home_icon_name .name{
    display:inline-block;
    /* margin-right:32px;*/
} 

.home_icon_name #nameB{
    margin-right:39px;
}
.home_icon_name #nameS{
    display:inline-block;
    margin-right:32px;
}
.home_icon_name #nameF{
    display:inline-block;
    margin-right:15px;
}
.home_icon_name #nameI{
    display:inline-block;
    margin-right:15px;
}
.home_icon_name #nameBL{
    display:inline-block;
    margin-right:32px;
}

.down_arrow{
    margin:5% 50% 0% 50%;
}
#arrow_span{
    display:block;
    width:30px;
    height:30px;
    border-bottom:3px solid rgb(255, 255, 255);
    border-right:3px solid rgb(255, 255, 255);
    transform:rotate(45deg);
    margin:-15px;
    animation:scroll 2s infinite;
}

.down_arrow:nth-child(2){
    animation-delay:-0.2s;
}

.down_arrow:nth-child(3){
    animation-delay:-0.4s;
}

@keyframes scroll{
    0%{
        opacity:1;
        transform:rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
        transform:rotate(45deg) translate(5px,5px);
    }
}


/*second part*/
.second_part{
    padding-top:50px;
    padding-bottom:0px;
}
.second_part_header{
    position:relative;
    text-transform: uppercase;
    margin:5% 30% 5% 40%;
    font-weight:bold;
    font-size:23px;
}
.service_cards{
    margin-top:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:center;
    gap:25px;    
}

.individual_service_card{
    width:180px;
    height:180px;
    border-radius:90px;
    background-color:aliceblue;
    justify-content:center;
    display:flex;
    flex-direction:center;
    flex-direction:row;
    background-color: rgb(255, 255, 255);
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.2);
    cursor:pointer;

}

#icon{
    font-size:45px;
    padding-top:50px;
}

.service_name{
    position:absolute;
    padding-top:110px;
    font-size:13px;
}

.link{
    text-decoration:none;
    color:black;
    cursor:pointer;
}

.link:hover{
    color:gray;
}

.third_part_header{
    position:relative;
    text-transform: uppercase;
    margin:5% 30% 5% 43%;
    font-weight:bold;
    font-size:23px;
}

.second_part_discription{
    font-size:12px;
    margin-left:30%;
    color:gray;
}

.third_part{
    padding-top:50px;
    padding-bottom:0px;
}

.fourth_part_header{
    position:relative;
    text-transform: uppercase;
    margin:5% 30% 5% 45%;
    font-weight:bold;
    font-size:23px;
}

.recent_product_card_section{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap:60px;
    padding:50px 350px 50px 350px;
}

.adv_card{
    width:200px;
    height:230px;
    background-color: rgb(255, 255, 255);
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.2); 
}

.card_image{
    background-size: cover;
    height:75%;
    -webkit-background-size:cover ;
    background-position:center;
    margin:0px;
    padding:0px;

}

.product_detail{
    position:relative;
    margin-top:0%;
    width:95%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(40, 40, 40, 0.6));
    padding:5px;
    transform: translateY(125px);
}

.product_name{
    color:white;
    font-weight:bold;
    font-size:14px;
}

.owner{
    color:rgb(225, 253, 239);
    font-size:11px;
}

.adv_card .discription{
    padding:0% 2% 10% 3%;
}

#star{
    color:rgb(229, 186, 195);
    font-size:12px;
}

#heart{
    padding:7px;
    background-color: crimson;
    color:white;
    border-radius:25px;
    transform: translate(510%, -45%);
}
.price{
    font-size:12px;
    margin-left:0px;
    color:gray;
    font-weight: 500;
}

.collection_product_card_setion{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap:60px;
    padding:50px 150px 50px 150px;
}

.show_more_text{
    position:relative;
    margin-left:84%;
    color:rgb(98, 144, 98);
    font-size:15px;
    
}

.show_more a{
    text-decoration:none;
}

/*fifth part*/

.fifth_part{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap:20px;
    padding:50px 320px 50px 340px;
}

.acknowledgement{
    width:220px;
    height:260px;
    background-color: rgb(255, 255, 249);
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.2); 
    padding:20px;

}

.ack_author_sec{
    transform: translateY(-50px);
    text-align: center;
}
.acknowledgement_img{
    width:60px;
    height:60px;
    border-radius:35px;
    border:4px solid rgb(235, 240, 251);

}

.acknowledgement_author{
    font-size:13px;
    font-weight:bold;
    color:rgb(24, 62, 69);
    transform: translateX(85px); 
}

.acknowledgement_content_sec{
    height:180px;
    overflow: hidden;
    text-align:center;
}
.acknowledgement_content{
    font-size:11px;
    color:rgb(109, 107, 107);
    line-height:17px;
    
}

.checked {
    color: salmon;
    font-size:15px;
  }

  .fa-star {
    margin-right: 5px;
  }
  



