*{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}
.body{
    display:grid;
    grid-template-columns:20% 45% 35%;
    padding-top:100px;
    
}

.section_1{
    /* background-color:bisque;*/
}

.for_filter_type_2{
    /* display:none; */
}

.for_filter_type_3{
    /* display:none; */
}

.individual_image{
    padding:35px;
}
.i_image{
    width:500px;
    height:400px;
}

/* .other_image{
    margin-top:20px;
    width:140px;
    height:140px;
    margin-right:10px;
} */

.product_discription{
    margin-top:30px;
    font-size:13px;
    line-height: 20px;
    text-align: justify;
    
}

.first_character{
    font-size: 30px;
    font-weight: bold;
}
.section_2{
    /* background-color: azure; */
}

.section_3{
    padding:50px 0px 50px 60px;
    overflow: hidden;
}

.scf_maincontent{
    margin-top: 0%;
}

.scf_maincontent hr{
    border-width: 0.1px solid #e8efe7;
    color:
}
.scf_maincontent h1{
    font-size: 30px;
    color: #004100 ;
}

.cf_heading {
    font-size: 15px;
    margin-right: 25px;
    font-weight: bold;
  }
  
.fa {
    font-size: 25px;
  }
  
.checked {
    color: salmon;
    font-size:15px;
  }

.n_star, .count_star{
  font-size:14px;
}

.count_star{
    margin-left:-300px;
}
  
  /* Three column layout */
  .side {
    width: 15%;
    margin-top:10px;
    font-weight: bold;
  }
  
  .middle {
    margin-top:-18px;
    justify-content: space-around;
    width: 70%;
    margin-left: 100px;
  }
  
  /* Place text to the right */
  .right {
    margin-top: -18px;
    margin-left: 1000px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #d5e1df;}
  .bar-4 {width: 30%; height: 18px; background-color: #e3eaa7;}
  .bar-3 {width: 10%; height: 18px; background-color: #b5e7a0;}
  .bar-2 {width: 4%; height: 18px; background-color: #86af49;}
  .bar-1 {width: 15%; height: 18px; background-color: #044738;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    .right {
      display: none;
    }
  }

  .back_to_home{
    font-size:13px;
    font-weight:bold;
    color:rgb(149, 182, 175);
    text-decoration:none;
  }

  .title_1{
    margin-top:140px;
    font-size: 13px;
    font-weight:bold;
    color:rgb(215, 190, 190);
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .title_2{
    font-size:20px;
    font-weight:bold;
    margin-top:12px;
  }

  .header_quantity{
    font-size:13px;
    font-weight:bold;
  }

  .select_quantity{
    margin-top:50px;
  }

  .select_quantity_buttons{
    margin-top:20px;
    display:flex;
    gap:25px;
  }

  .quantity_button{
    padding:5px 10px 5px 10px;
    border:1px solid  #e8efe7;
    font-size:12px;
    border-radius: 15px;
  }

  .quantity_button:hover{
    cursor:pointer;
    border:1px solid  #86af49;
    color:#86af49;

  }


  /*comment and Q&A*/

  .process_container{
    margin-top:20px;
    position:relative;
    width:500px;
    height:700px;
    position:relative;
    text-align:center;
    margin:auto;
  }

  .form_button span{
    font-size: 13px;
    color:rgb(166, 162, 162);
    text-align: center;
    padding:0px 40px;
    cursor:pointer;
    font-weight:bold;
    display:inline block;
    width:150px;
  }

  .form_button{
    margin-top:20px;
    display:inline-block;
  }

.toggle_section{
  max-width:500px;
  padding:0 20px;
  position:absolute;
  top:50px;
  transition: 1s;
}
  #related_item_image{
    width:140%;
    height:130px;
    margin-top:30px;
    margin-left:15px;
  }
  .custormizable_item{
    display:flex;
  }
  .related_item_discription{
    font-size:13px;
    margin:50px 50px 50px 120px;
    line-height: 25px;
  }

  .related_item_name{
    font-weight:bold;
  }

  .see_more_related_item{
    color:rgb(166, 162, 162);
  }

  #toggle_section_1{
    left:0px;
  }

  #toggle_section_2{
    left:700px;
    margin-top:30px;
  }

  #toggle_section_3{
    margin-top:30px;
    left:1200px;
  }

  #indicator{
    width:120px;
    border:none;
    background-color: salmon;
    height:3px;
    margin-top:8px;
    transform:translateX(-135px);
    transition: 1s;
  }

  /*comment*/
.comment_section{
    background-color:rgb(255, 255, 255);
    padding:30px;
    padding-right:30px;
}

.comment_section_header{
    font-weight: bold;
    font-size:15px;
    padding:20px;
}

#usercommon{
    background-color: rgb(2, 42, 35);
    color:white;
    padding:5.5px 12px;
    border-radius: 25px;
    font-weight:bold;
    border:2px solid rgb(216, 218, 215);
    /* transform: translateX(-50px); */
}

.comment-body{
    border-top:none;
    border-left:none;
    border-right:none;
    width:370px;
    transform: translateY(10px);
    font-family: 'Montserrat';
    font-size:12px;
    /* background-color: #b5e7a0; */
    margin-left:7px;
    height:25px;
}

.comment-body:focus{
    outline: none;
}

.btn{
    margin-left:235px;
    display:none;
}

.btn button{
    background-color: transparent;
    border:1px solid rgb(247, 233, 233);
    cursor:pointer;
    border-radius:25px;
    font-size:12px;
    font-family: 'Montserrat';
    padding:3px 5px;
}

.btn button:hover{
    font-weight:bold;
    border:1px solid black;
    cursor:pointer;
    border-radius:25px;
    font-size:12px;
    font-family: 'Montserrat';
}

#comment_form{
  display: flex;
  transform: translateX(-50px);
}























  .price{
    margin-top:25px;
    font-size:20px;
    font-weight:bold;
    color:rgb(88, 65, 65);
  }


  /*process container*/
  
  
