/*sidebar*/
*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.sidebar {
    height: 100%;
    position: fixed;
    background-color:black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    padding-inline: 0.78rem;
    margin-top: 0;
    line-height: 2rem;
    z-index: 20000;
    color:white;
    width:14%;
}

.sidebar ul{
    list-style-type:none;
}

.sidebar li a:is(:link, :active, :visited){
    display:block;
    font-size:14px;
    text-decoration:none;
    font-weight:bold;
    padding: 0.2rem 0.4rem;
    color: var(--clr-sidetext);
    text-decoration: none;
    transition: 0.4s;
}

.sidebar li a:is(:link, :active, :visited):hover{
    background-color: rgb(237, 237, 226);
    font-weight: 700;
    border-radius: 5px;
    color:rgb(230, 160, 19);
}

/* li a:is(:link, :active, :visited).active{
    background-color: rgb(237, 237, 226);
    font-weight: 700;
    border-radius: 5px;
    color:rgb(230, 160, 19);
} */

.tab .active{
    background-color: rgb(237, 237, 226);
    font-weight: 700;
    border-radius: 5px;
    color:rgb(230, 160, 19);
}

.tab{
    display:block;
    font-size:14px;
    text-decoration:none;
    font-weight:bold;
    padding: 0.2rem 0.4rem;
    color: var(--clr-sidetext);
    text-decoration: none;
    transition: 0.4s;
}


#userprofile{
    margin-bottom:18px;

}

.user_detail .uname{
    font-size:12px;
    font-weight:bold;
    text-align: center;
}
.position{
    font-size:12px;
    color:rgb(230, 160, 19);
    font-weight:bold;
    text-align: center;
}


.user_detail{
    line-height: 20px;
    text-align: center;;
}


#userprofileimage{
    width:100px;
    height:100px;
    border-radius:70px;
    align-self: center;
}

.logo{
    font-weight: bold;
    text-align:center;
    padding-bottom:2.5rem;
    padding-top:20px;
    font-size:20px;
}

#shape{
    position:absolute;
    transform: translate(33px,-16px);
    font-size: 70px;
    color:black;
    display:none;
}

#equal{
    position:absolute;
    transform: translate(60px,13px);
    font-size: 13px;
    color:white;
    z-index: 100;
    display:none;
}

#leaf{
    position:absolute;
    color:rgb(246, 246, 206);
    transform: translate(70px, -11px);
}

.sidebar ul li.active a {
    background-color: rgb(237, 237, 226);
    font-weight: 700;
    border-radius: 5px;
    color:rgb(230, 160, 19);
  }
